@charset "UTF-8";
/* CSS Document */

body {
	background-color: aliceblue;
	font-family: Helvetica, Arial, sans-serif;
	color: darkslategray;
}

h1, h2 {
	color: black;
}

.topnav {
	background-color: slategray;
	overflow: hidden;
	padding: 14px 16px;
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
	background-color: aliceblue;
	color: black;
}