/* CSS Document */
/* All comments go between the front slash and asterisk symbols */

body {
	background-color:#d4a373;   /* background color */
	color: #444;          /* text color for the entire page */
	font-size: 17px;
	font-family: Tahoma, Verdana, sans-serif;
}

h1, h2 { 
	text-align:center;     /* centers h1 and h2 content */
	color:#faedcd;
}

/* styles for the "wrapper" div, notice that "wrapper" is preceded by "#" */
#wrapper {
	width:900px;
	margin:0 auto;    /* centers wrapper */
}

/* styles for the "stepTitle" class, notice that "stepTitle" is preceded by a dot */
.stepTitle{
	padding:15px;
	text-align:left;
	font-size:18px;
	background-color:#ccd5ae;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
 }

.stepContent{ 
	background-color: #e9edc9;
	padding:7px;
	display: flex;
	justify-content: center;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.stepDescription {
	width:55%;
	padding:5px;
}

.stepImage {
	width:40%;	
	padding:5px;
	text-align: center;
}

img {
	border-radius: 30px;
	border: 5px solid #d4a373;
	
}



