/* CSS Document */
/* All comments go between the front slash and asterisk symbols */

body {
	background-color:#eaf4f4;   /* background color */
	color: #01161e;          /* text color for the entire page */
	font-size: 17px;
	font-family: Helvetica, Verdana, sans-serif;
}

h1, h2 { 
	text-align:center;     /* centers h1 and h2 content */
	color:#4a5759;
	font-weight: bold;
}

/* styles for the "wrapper" div, notice that "wrapper" is preceded by "#" */
#wrapper {
	width:900px;
	margin:0 auto;    /* centers wrapper */
}

/* styles for the "stepTitle" class, notice that "stepTitle" is preceded by a dot */
.stepTitle{
	color: #192a51;
	padding:10px;
	text-align:left;
	font-size:18px;
	background-color:#a4c3b2;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
 }

.stepContent{ 
	background-color: #cce3de;
	color: #22223b;
	padding:10px;
	display: flex;
	justify-content: center;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.stepDescription {
	width:55%;
	padding:5px;
}

.stepImage {
	width:40%;	
	padding:5px;
	text-align: center;
}

img {
	border-radius: 30px;
	border: 2px solid #4a5759;
	box-shadow: 5px 5px 5px gray;
}
.warning {
	background-color: #F6AEB0;
	padding:10px;
	border-radius:20px;
}
.material-icons {
	color: red;
	font-size:2em;
	float: left;
}


