@charset "UTF-8";
/* CSS Document */

body{
	background-color: #f2e9e4;
	color: #4a4e69;
	font-family: Helvetica, Arial, sans-serif;
}

#wrapper {
background-color: #f2e9e4;
width: 900px;
margin: 0 auto;
text-align: center;
}

.topnav{
	background-color: #c9ada7;
	overflow: hidden;
	padding: 14px 15px;
	font-size: 17px;
}

.topnav a {
  color: #4a4e69;
  text-align: center;
  padding: 14px 15px;
  text-decoration: none;
  font-size: 17px;
		}
		
.topnav a:hover {
  background-color: #f2e9e4;
  text-align: center;
  padding: 14px 15px;
  text-decoration: none;
}

 #tofu {
border: black 5px solid;
display: none; /* hides content */
}

 #mapo_tofu {
border: black 5px solid;
}
 
 #china {
display: none; /* hides content */
border: black 5px solid;
}
.choices {
cursor: pointer;
}
